:root {
  --color-black: #212529;
  --color-black2: #343a40;
  --color-black3: #495057;
  --color-black4: #6c757d;
  --color-black5: #adb5bd;
  --color-black6: #ced4da;
  --color-black7: #dee2e6;
  --color-black8: #e9ecef;
  --color-black-white: #f8f9fa;

  --color-blue: #00b4d8;
  --color-blue2: #48cae4;
  --color-blue3: #90e0ef;
  --color-blue4: #ade8f4;
  --color-blue-white: #caf0f8;

  --color-white: #ffffff;
}

.navbar {
  width: 100%;
  padding: 25px;
  z-index: 99 !important;
  position: fixed;
}

.navbar.active{
  background-color: var(--color-white);
  padding: 20px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.176);
}

.navbar-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  max-width: 220px;
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-link:not(:last-child) {
  margin-right: 30px;
}

.navbar-link a {
  color: var(--color-black3);
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

.navbar-link a:hover {
  color: var(--color-blue);
}

.navbar-link a:hover::before {
  width: 100%;
}

.navbar-link .active{
  color: var(--color-blue);
}

.navbar-link .active::before{
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  background-color: var(--color-blue);
  border-radius: 2px;
  bottom: -2px;
  transition: all 0.5s ease-in-out;
}

.navbar-link a::before {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 0;
  background-color: var(--color-blue);
  border-radius: 2px;
  bottom: -2px;
  transition: all 0.5s ease-in-out;
}

.navbar-btn a {
  background-color: var(--color-blue);
  color: var(--color-black-white);
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border: 3px solid var(--color-blue);
}

.navbar-btn.active a{
  box-shadow: none;
}

.navbar-btn a:hover {
  color: var(--color-blue);
  background-color: var(--color-black-white);
  box-shadow: none;
}

.mobile-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
}

.mobile-icon i {
  font-size: 32px;
  color: var(--color-black3);
}

@media screen and (max-width: 920px) {

  .mobile-icon {
    display: flex;
  }

  .navbar-list {
    position: fixed;
    background-color: var(--color-white);
    min-height: 100vh;
    top: 0;
    right: -100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 120px 40px;
    z-index: -1 ;
  }

  .navbar-list.active{
    right: 0 !important;
  }

  .navbar-link:not(:last-child){
    margin-right: 0;
    margin-bottom: 20px;
  }

  .navbar-link a{
    font-size: 22px;
  }

  .navbar-btn a{
    font-size: 22px;
    position: relative;
    top: 16px;
  }
}

@media screen and (max-width:760px) {

    .navbar {
        padding: 25px 10px;
    }
    .navbar-logo img{
        width: 190px;
    }
}