@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", serif;
}

@layer components {
  .neomorphism {
    background: #ffffff;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
  }

  .hoverneo {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
  }

  .hovergreen {
    background: #3a4f39;
    box-shadow: inset 5px 5px 15px #314330, inset -5px -5px 15px #435b42;
  }

  .font-code {
    font-family: "Fira Code", serif;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important ;
}
