@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-black: #212529;
  --color-black2: #343a40;
  --color-black3: #495057;
  --color-black4: #6c757d;
  --color-black5: #adb5bd;
  --color-black6: #ced4da;
  --color-black7: #dee2e6;
  --color-black8: #e9ecef;
  --color-black-white: #f8f9fa;

  --color-blue: #00b4d8;
  --color-blue2: #48cae4;
  --color-blue3: #90e0ef;
  --color-blue4: #ade8f4;
  --color-blue-white: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in-out;
}

